
.login {
  width: 100%;
  height: 30rem;
  max-width: 400px;
  padding: 20px;
  padding-top: 3rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1.5rem;
}



.input-group .form-control {
  border-radius: 0;
}
/* .input-group-text {
  border: none;
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.input-group-prepend .input-group-text i {
  color: #cccccc;
}

.input-group .form-control:focus {
  box-shadow: none;
  border-color: #cccccc;
} */

/* .input-group {
  position: relative;
} */



.form-control-with-icon + .input-icon {
  left: 10px;
} 
 
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the icon doesn't block input interaction */
  color: #cccccc;
}
.input-icon-left {
  position: relative;
  left: 0;
  top: 50%;
  border: 0;
  border-radius: 0;
  transform: translateY(10%);
  pointer-events: auto;
  color: #cccccc;
}
.input-icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  border: 0;
  border-radius: 0;
  transform: translateY(-50%);
  pointer-events: auto;
  color: #cccccc;
}


.ml-auto {
  margin-left: auto;
}
.forgot-password {
  font-size: 0.875rem;
  color: gray;
  text-decoration: none;
  margin-top: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}
.w-100 {
  width: 100%;
}
.mt-3 {
  margin-top: 1rem;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.btn-outline-danger,
.btn-outline-primary {
  width: 100%;
}

.btn-primary {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  font-size: 3rem;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #d3d3d3 !important;
  border-color: #d3d3d3 !important;
}