
  .register {
  height: 35rem;
  width: 400px;
  padding: 20px;
  padding-top: 3rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  }
  .register h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  

  .text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  .input-group-prepend .input-group-text {
    background-color: #343a40;
    border-radius: 0;
    border: 1px solid #343a40;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .input-group-append .input-group-text {
    color: #343a40;
    border-radius: 0;
    border: none;
    height: 100%;
  }
  .input-group .form-control {
    border-radius: 0;
  }
  .input-group-text {
    border-color: #cccccc;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .input-group-prepend i{
    color: white;
  }
  .input-group .form-control:focus {
    box-shadow: none;
    border-color: #cccccc;
  }
  .btn-primary {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    font-size: 3rem;
    font-weight: 600;
  }
  
  .btn-primary:hover {
    background-color: #d3d3d3 !important;
    border-color: #d3d3d3 !important;
  }
  .ml-auto {
    margin-left: auto;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .ml-2 {
    margin-left: 0.5rem;
  }
 /* Media Queries */
@media (min-width: 768px) {
    .register {
      max-width: 500px;
    }
    .btn-primary{
        font-size: 5rem;
        font-weight: 600;
    }
  }