.side-nav {
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  top: 0;
  left: 0;
}

 

.brand-logo img {
  width: 100px;
  height: auto;
  margin-top: 20px; 
  border-radius: 50px; 
  border: 0.3  rem solid red;
}

.norm-btn {
  width: 100% !important;
  height: 2.5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.87rem;
  color: white;
  border-radius: .5rem;
  text-decoration: none;
  background-color: #666666;
}

.active-btn {
  width: 100% !important;
  height: 2.5rem;
  padding: 0 .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.87rem;
  color: white;
  border-radius: .5rem;
  text-decoration: none;
  background-color: #3d3d3d;
}

.icon {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.rotated {
  transform: rotate(90deg); /* Adjust the angle as needed */
}

.nav-container {
  overflow-y: auto;
}



.logout-main {
  position: absolute;
  width: 100%;
  padding: 0 .5rem 1rem;
  bottom: 0;
}

.logout-container {
  width: 100%;
  padding: 0 0.5rem;
}

.logout {
  width: 100% !important;
  height: 2.5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.87rem;
  text-align: center;
  color: white;
  border-radius: .5rem;
  text-decoration: none;
  background-color: red;
}