.side-nav {
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  top: 0;
  left: 0;
}

.norm-btn {
  width: 100% !important;
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: white;
  border-radius: .5rem;
  text-decoration: none;
  background-color: #666666;
}

.active-btn {
  width: 100% !important;
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: white;
  border-radius: .5rem;
  text-decoration: none;
  background-color: #3d3d3d;
}

.icon {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.rotated {
  transform: rotate(90deg); /* Adjust the angle as needed */
}

.nav-container {
  overflow-y: auto;
}

.logout {
  position: absolute;
  bottom: 20px;
}