.btn2{
    margin-right: 3rem;
    background-color: red !important;
    line-height: 35px !important;
    padding: 0 25px !important;
    
    color: #fff !important;
    border-radius: 3px !important;
    border-radius: 10px !important;
    transition: all 0.3s ease !important;
    cursor: pointer !important;
    border: none !important;
}
.btn2:hover{
    background-color: red !important;
}
.heading{
    margin-left: 3rem;
}
.position{
    margin-left: 2rem;
    margin-right: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2rem;
}
.product{
   min-height: 25rem;
}
.imgtag{
    height: 15rem;
}
/* .warning{
    background-color: #FFBC76;
} */